:root {
  line-height: 1.3;
}

a {
  color: #531ab6;
}

a:hover {
  background-color: #531ab6;
  color: #fff;
  text-decoration: none;
}

.app {
  max-width: calc(50rem + 22rem + 5rem);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 22rem auto;
  justify-content: space-between;
  gap: 2rem;
}

.header {
  border-top: 0.2rem solid black;
  margin-top: 1rem;
  padding-top: 1rem;
}

.main {
  margin-top: 0.7rem;
}

.header--book {
  text-align: right;
}

.header-title {
  margin: 0;
}

.book-authors {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

.book-section {
  margin-bottom: 1.5rem;
}

.book-section--logline {
  font-style: italic;
}

.book-section p:first-child {
  margin-top: 0;
}

.book-metadata {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.book-metadata-item {
  display: grid;
  grid-template-columns: 15ch auto;
}

.book-metadata-item-label {
  color: #595959;
  font-weight: bold;
  text-transform: uppercase;
}

.book-metadata-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.book-metadata-list-item {
  white-space: nowrap;
}

.book-metadata-list-item + .book-metadata-list-item:before {
  content: ', ';
}

.book-nav-list {
  margin: 0;
  margin-left: 1rem;
  padding: 0;
}

.book-nav-list-item-wrapper {
  margin-bottom: 0.5rem;
}

.book-nav-list-item-wrapper::marker {
  font-weight: normal;
  font-size: 0.9rem;
  color: #595959;
}

.book-nav-list-item {
  display: block;
  color: #0040ff;
  text-decoration: none;
}

.book-nav-list-item:hover {
  background: none;
  color: darkblue;
  text-decoration: underline;
}

.book-nav-list-item-title {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  /* margin-top: 0.1rem; */
}

.book-nav-list-item-description {
  margin: 0;
}

.book-read {
  display: grid;
  grid-template-columns: 30ch auto;
  gap: 2ch;
  padding: 1rem;
  border: 0.2rem solid #000;
}

.book-read-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-read-button {
  display: block;
  text-align: center;
  background: #0040ff;
  color: #fff;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
}

.book-read-title {
  color: #595959;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.book-read-contents {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.book-read-list, .book-read-list ul {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}
